@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: Quicksand;
    letter-spacing: 1px;
}

h1 {
    font-weight: 900;
    font-size: 38px;
    color: #005247;
    text-transform: uppercase;
}

h2 {
    font-weight: 900;
}

hr {
    display: none;
}

/* Navbar */

#logo {
    font-family: Pacifico;
    font-size: 300%;
    text-decoration: none;
    color:#e08000;
}

#nav-menu li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 120%;
    text-align: right;
    letter-spacing: 2px;
    margin-left: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#nav-menu li a {
    color: white;
}

#nav-menu li a:hover {
    color: #e08000;
}

.active {
    color: #e08000;
}

/* About Me */

#dicson {
    display: block;
    border-radius: 50%;
    padding: 10px;
    width: 50%;
	height: auto;
	float: left;
	margin-right:2rem; 
	shape-outside:circle();
}

.about-me {
    margin: 25px, 25px, 50px, 0;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 115%;
    font-weight: 500;
    text-align: justify;
}

@media (max-width: 650px) {
    .extra_content {
        display: none;
    }

    #read_more {
        display: block;
    } 
}
  
.read_more  {
    display: none;
}
  
.show {
     display: block!important;
}

#tagline {
    color: #005247;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* Work History */

.timeline {
    margin: 25px, 50px, 25px, 0;
    padding-right: 25px;
    padding-left: 25px;
}

.history-heading {
    margin-bottom: 20px;
}

.timeline-item {
    padding: 4.5em 2em 0em 2em;
    position: relative;
    border-left: 2px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin-top: 10px;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -7px;
    border-radius: 12px;
    content: '';
    background: #005247;
    margin-top: 15px;
}

.history-items {
    margin-bottom: 25px;
}

/* Private Chef */


.private-chef-container h1 {
    color: #e08000;
    font-size: 450%;
    text-align: center;
    margin-top: 10px;
}

.private-chef-container p {
    color: white;
    font-size: 115%;
    font-weight: 500;
    text-align: justify;
}

/* Containers */

.header-container {
    background: rgb(14,41,37);
    background: linear-gradient(90deg, rgba(14,41,37,1) 0%, rgba(0,82,71,1) 50%);
}

.callout-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background: url('../images/main-image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-me-container {
    padding-top: 25px;
    margin-top: 15px;
}

.about-me-container a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.private-chef-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(14,41,37);
    background: linear-gradient(90deg, rgba(14,41,37,1) 0%, rgba(0,82,71,1) 50%);
}

.private-chef-container a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #e08000;
}

.instructions-container {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.instructions-container img {
    margin: 25px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}

.instructions-container p {
    font-size: 150%;
}

.testimonials-container {
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    
}

.footer-container {
    padding: 25px;
}

/* Testimonials */

#testimonials-banner {
    height: 50vh;

    background: url('../images/noodle-bowl.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Footer */

footer {
    padding-top: 30px;
    background: rgb(14,41,37);
    background: linear-gradient(90deg, rgba(14,41,37,1) 0%, rgba(0,82,71,1) 50%);
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
  
footer a {
    color: white;
    text-decoration:none;
}
  
footer a:hover {
    color: #e08000;
    text-decoration:none;
}
  
footer p {
    margin-top: 15px;
}

footer .form-control {
    background-color: white;
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

footer h4 {
    text-transform: uppercase;
    font-weight: bold;
    color:#e08000;
}

footer h1 {
    color:#e08000;
}

#footer-logo {
    font-family: Pacifico;
    font-size: 300%;
    float: left;
    text-decoration: none;
    color:#e08000;
}

.social-links {
    margin-top: 15px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #e08000;
}

.footer-form {
    margin-top: 15px
}
