@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: Quicksand;
}

h1 {
    font-weight: 900;
    color: #005247;
}

/* Navbar */

#logo{
    float: left;
    font-family: Pacifico;
    font-size: 300%;
    text-decoration: none;
    color:#e08000;
}

.callout-container h1 {
    color: white;
    text-shadow: 4px 4px  #005247;
    font-weight: 700;
}

#nav-menu {
    list-style-type: none;
    text-align: right;
    padding-left: 20px;
}

#nav-menu li {
    margin-top: 10px;
    margin-right: 25px;
    display: inline-block;
}

#nav-menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 125%;
    color: white;
}

/* About Me */

#dicson {
    display: block;
    border-radius: 50%;
    padding: 10px;
    width: 50%;
	height: auto;
	float: left;
	margin-right:2rem; 
	shape-outside:circle();
}

.about-me {
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 50px;
    font-size: 110%;
}

/* Private Chef */

.private-chef-container h1 {
    color: #e08000;
}

.private-chef-container p {
    color: white;
    font-size: 110%;
    text-align: justify;
}

/* Containers */

.header-container {
    background-color: #005247;
}

.callout-container {
    color: white;
    font-weight: bold;
    text-align: center;
}

.callout-container {
    height: 75vh;

    background: url('../images/main-image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.about-me-container {
    padding-top: 25px;
    margin-top: 15px;
    text-align: justify;
}

.private-chef-container {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #005247;
}

.instructions-container {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.testimonials-container {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* Work History */

.history-heading {
    margin-bottom: 0px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 2px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -7px;
    border-radius: 12px;
    content: '';
    background: black;
}

.history-items {
    margin-bottom: 15px;
}

/* Footer */

footer {
    background-color: #005247;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #e08000;
}

#footer-details {
    padding: 20px;
}
